/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}
.card-text{
    font-weight: bolder; 
    font-size: 22px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.boldcard{
    font-weight: bold; 
}
section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}


.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;

}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

@media (max-width: 936px) {

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
}
@media (max-width: 340px) {

.frontside .card .card-body img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
    .whoimage{
    float: left; 
    width: 10%; 
    max-height: 10%; 
    padding-right: 2%;
    padding-top: 1.4%;
}
}

@font-face {
    font-family: minefont;
    src: url(Minercraftory.ttf: 700);
}

.nopadding {
    padding: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
        -webkit-tap-highlight-color: transparent;
}
.fbutton {
    width: 100px;
    height: 55px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: black;
    background: rgba(255,255,255,0.7);
    border: 2px solid #77818f;
    box-shadow: 5px 5px 0 #77818f,
        -5px -5px 0 #77818f,
        -5px 5px 0 #77818f,
        5px -5px 0 #77818f;
    transition: 500ms ease-in-out;
  margin-left: 10px;
  margin-right: 10px;
  float: center;
}
@media (max-width: 528px) {
.fbutton {
    width: 64px;
    font-size: 9px;
    margin: 0.4px;
    margin-left: .4rem;
    margin-right: .1rem;
    text-align: centerf;
    box-shadow: 2px 2px 0 #77818f,
        -2px -2px 0 #77818f,
        -2px 2px 0 #77818f,
        2px -2px 0 #77818f;
}
}
.gback{
    background-color: #FDAC53;
}
.floated {
   float:right;
}
.fbutton:hover {
    box-shadow: 10px 5px 0 #77818f, 
    -10px -5px 0 #77818f;
}

.fbutton:focus {
    outline: none;
}
h1 {
            margin: 0 auto 50px auto;
        }
.grow {
    transition: all .2s ease-in-out; 
}
.grow:hover {
    transform: scale(1.1);
}

.h2e {
            color: #111; 
            margin: auto; 
            font-family: 'Helvetica Neue', sans-serif;
            font-size: 4vh; 
            font-weight: bold; 
            letter-spacing: -1px; 
            line-height: 1; 
            text-align: center; 

        }
a {
            color: #009999;
        }
.layer {
            background-color: rgba(255,255,255,0.7);
            padding: 40px;
            width: 75%;
            box-shadow: 0 0 20px 10px rgba(0,0,0,0.5);
            margin-bottom: 40px;
            transform-style: flat;
             display: block;
  margin-left: auto;
  margin-right: auto;
        }
.mcicon{
    width:100%; 
    display: block; 
    margin: 0 auto;
    margin-top: 8px;
    margin-left: auto; 
    margin-right: auto;
    border: 7px solid black;
}
/* Three columns side by side */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
.carousel-item {
    display: block !important;
}
.carousel-fade .carousel-item {
    opacity: 0;
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.thisone { background-position-y: center;
    background-position-x: left;
    /*background-size: cover;*/
    background-size: auto 100vh;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width:200%;
}

.thisanimate {
    -webkit-animation: movebg 10s linear infinite;
    animation: movebg 10s linear infinite;
}


#mainDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    text-align: center;
}
#mainDiv * {
    text-align: center;
}

#topDiv {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
`
#subtitle {
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-family: minefont;
    white-space: nowrap;
    max-width: 100%;
    -webkit-text-fill-color: rgba(255, 255, 255,60%);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 40%);
}
#title svg {
    max-width: 100%;
    padding: 0 10px;
}

#bottomDiv {
    padding-bottom: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.link {
    padding: 10px 15px 8px 15px;
    font-size: 15px;
    margin: 25px 10px 0 15px;
    font-family: "minefont";
    color: #fff !important;
    text-decoration: none;
    letter-spacing: 2px;
    background-color: #34aa2f!important;
    -webkit-box-shadow: 0 8px #247620, 0 4px 10px 1px rgba(0, 0, 0, 50%);
    box-shadow: 0 8px #247620, 0 4px 10px 1px rgba(0, 0, 0, 50%);
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    position: relative;
    border-radius: 5px;
    border: 1px solid #247620;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #247620;
    cursor: pointer !important;
}
.link:hover {
    -webkit-box-shadow: 0 4px #247620, 0 2px 10px 1px rgba(0, 0, 0, 50%);
    box-shadow: 0 4px #247620, 0 2px 10px 1px rgba(0, 0, 0, 50%);
    top: 4px;
}

.navbar-custom {
    background-color: RGB(0, 155, 119);
 color: black;
}
.navbar-text {
    color: black;
    text-align: right;
    margin-right: 12px;
}

.navbar-collapse.in{
    width: 50%;
}
/* Set the border color to the desired color */
.custom-toggler.navbar-toggler {
    border-color: black;
}
.custom-toggler .navbar-toggler-icon {
            background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
.custom-toggler.navbar-toggler {
  border-color: rgb(0,0,0);
} 
.navbar-toggler {
margin-right: 10px;
}

.navbar-expand-md  > .container {
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 528px) {
    .navbar-expand-md  > .container {
      padding-left: 0;
      padding-right: 0;
    }
}
.link:active {
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 50%);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 50%);
    top: 8px;
}

#minesvg {
    max-width: 100%;
}

@-webkit-keyframes pulse {
    50% {
        -webkit-transform: translate(0px, 30%) scale(0.9);
        transform: translate(0px, 30%) scale(0.9);
    }
    100% {
        -webkit-transform: translate(0px, 0px) scale(1);
        transform: translate(0px, 0px) scale(1);
    }
}

@media (min-width: 376px) {
    #subtitle {
        font-size: 20px;
    }
    .link {
        font-size: 20px;
        margin: 0;
    }

}

@media (min-width: 768px) {
    #topDiv {
        padding-top: 25px;
    }
    #subtitle {
        font-size: 28px;
        margin-bottom: 15px;
    }
    #bottomDiv {
        padding-bottom: 35px;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }
    .link {
        font-size: 20px;
        padding: 18px 24px 16px 24px;
    }
}
@media (max-width: 1399.99px) {
    @-webkit-keyframes movebg {
        to {
            -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
        }
    }
}

@media (min-aspect-ratio: 16/10) {
    .thisone {
        background-size: 115vw;
    }
}
.carousel-inner img {
  margin: auto;
}
@media (min-width: 400px) and (orientation: landscape) {
    @-webkit-keyframes movebg {
        to {
            background-position-x: calc(100vw * 100 / -1536);
        }
    }
    .thisone {
        /*background-size: 110vw;*/
    }

    #subtitle {
        font-size: 30px;
        padding: 20px 0 0 0;
        padding-top: 0;
        margin-bottom: 15px;
    }

    #minesvg {
        -webkit-transform-origin: 50% -300%;
        -ms-transform-origin: 50% -300%;
        transform-origin: 50% -300%;
        -webkit-animation: pulse;
        animation: pulse;
        -webkit-animation-duration: 5s;
        animation-duration: 5s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

    #bottomDiv {
        padding: 0 0 30px 0;
    }

    .link {
        padding: 20px 30px 16px 30px;
        font-size: 20px;
    }
}
.video-responsive{
    overflow:hidden;
    padding-bottom:100%;
    margin-right: 10 auto;
    margin-left: 0 auto;
    padding-right: 0 auto;
}
.video-responsive iframe{
    left:auto;
    top:0;
    width:50%;
}
.yottie-widget {
    margin: auto!important;
    max-width: 850px!important;
}
.mt-32{
    margin-top:8rem
}
.-mt-3{
    margin-top:-.75rem
}
.mx-auto{
    margin-left:auto;
    margin-right:auto
}
.grid{
    display:grid
}
.grid-cols-1{
    grid-template-columns:repeat(1,minmax(0,1fr))
}
.p-2{
    padding:.5rem
}
.place-self-center{
    place-self:center
}
.text-center{
    text-align:center
}
.text-gray-100{
    --tw-text-opacity:1;
    color:rgba(243,244,246,var(--tw-text-opacity))
}
.rounded-lg{
    border-radius:.5rem
}
.text-xl{
    font-size:1.25rem;
    line-height:1.75rem
}
.my-4{
    margin-top:1rem;
    margin-bottom:1rem
}
.bg-gray-500{
    --tw-bg-opacity:1;
    background-color:rgba(107,114,128,var(--tw-bg-opacity))
}
.px-1{
    padding-left:.25rem;
    padding-right:.25rem
}
.font-bold{
    font-weight:700
}
.pl-1{
    padding-left:.25rem
}
.about{
  padding-: 50px;
  padding-top: 0px;
  text-align: center;
  color: black;
}

@media(max-width: 601px) {
    .layer {
        padding: 30px 10px;
        width: 90%;
    }

    .fbutton {
        width: 80px;
        margin: .4rem;
        font-size: 9px;
    }
}


.card-body p img {
    margin-top: 30px;
}
.whotext{
    margin-bottom: 3px;
}
.whoimage{
    float: left; 
    max-width: 20%; 
    max-height: 30%; 
    padding-right: 2%;
    padding-top: 1.4%;
}